* {
    transition-duration: 250ms;
}

body { margin: -1%; overflow: hidden; }

div#content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

div#background {
    width: 110vw;
    height: 110vh;
    background-image: url("/images/banner/tile.jpg");
    filter: blur(5px);
    position: fixed;
    z-index: -1;
}

div#main {
    position: absolute;
    z-index: 1;
    width: auto;
    height: auto;
}

/* */

.social-title-area {
    display: flex;
    align-items: flex-start;
}
.social-content {
    display: flex;
    flex-direction: column;
}

.logo-header {
    min-width: 100px;
    min-height: 100px;
    max-width: 15vw;
    max-height: 15vh;
    aspect-ratio: 1/1;
    border-radius: 10px;
}

button.social {
    width: 100%;
}

/* */
@media (orientation: landscape) {
    div#main {
        max-width: 33%;
        text-align: left;
    }
}
@media (orientation: portrait) {
    div#main {
        max-width: 75%;
        text-align: center;
    }
}